@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --btn-color: #2a2a5a;
  --btn-color--hover: #3939e9;
  --wrong-letters-color: rgb(172, 4, 4);
  --answer-letter-color: rgb(148, 9, 9);

  --main-font-size: 1.6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 62.5%;
  font-family: "Fredoka", sans-serif;
  color: #222;
}

body {
  font-size: var(--main-font-size);
  background: rgb(222, 213, 217);
  background: radial-gradient(circle, rgba(222, 213, 217, 1) 0%, rgba(54, 133, 226, 1) 94%);
}

.container {
  max-width: 60%;
  margin: 10rem auto 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: radial-gradient(circle, rgb(163, 153, 157) 0%, rgb(42, 93, 151) 94%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.wrong-letter {
  font-style: bold;
  color: var(--wrong-letters-color);
  font-size: 1.8rem;
}

.show-wrong-letter {
  color: var(--answer-letter-color);
}

/******************************/
/* BUTTONS */
/******************************/
.btn {
  font-size: 1rem;
  border: none;
  padding: 1.7rem 1.3rem;
  border-radius: 10%;
  background-color: var(--btn-color);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--btn-color--hover);
}

.btn-disabled--hover:hover {
  background-color: gray;
  cursor: default;
}

.btn-disabled--hover {
  background-color: gray;
  cursor: default;
}

.container-underscores {
  text-align: center;
  font-size: 1.5rem;
}

/******************************/
/* INPUT */
/******************************/
.input-checker {
  text-align: center;
  border: none;
  outline: 0;
  border-radius: 50%;
  width: 5rem;
  padding: 1.1rem;
  background-color: rgba(40, 207, 82, 0.637);
}

/******************************/
/* HANGMAN */
/******************************/
.hangman {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 50px auto 30px;
  position: relative;
}

.gallows {
  width: 200px;
  height: 20px;
  border: 2px solid black;
  padding: 0.2rem;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 30px;
  left: 75px;
  animation: test 0.6s linear;
}

.body {
  width: 4px;
  height: 70px;
  background-color: black;
  position: absolute;
  top: 80px;
  left: 97px;
  animation: test 0.6s linear;
}

.left-arm {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 90px;
  left: 60px;

  animation: test 0.6s linear;
}

.right-arm {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 90px;
  left: 98px;
  animation: test 0.6s linear;
}

.left-leg {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 145px;
  left: 60px;

  animation: test 0.6s linear;
}

.right-leg {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 145px;
  left: 98px;

  animation: test 0.6s linear;
}

.hidden {
  display: none;
}

/******************************/
/* ERROR NETWORK  */
/******************************/
.timeout-error {
  font-size: 1.8rem;
  color: var(--answer-letter-color);
  font-weight: 700;
}

/******************************/
/* MODAL */
/******************************/

.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  text-align: center;
  background-color: #fefefea8;
  margin: auto;
  /* padding: 20px; */
  border: 1px solid #888;

  height: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.modal-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 2.3rem;
  color: #222;
  text-shadow: 2px 2px 4px rgba(27, 26, 26, 0.5);
}
.close-modal {
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.win-modal {
  background-color: rgba(32, 219, 32, 0.61);
}

.lose-modal {
  background-color: rgba(228, 0, 0, 0.685);
}

/******************************/
/* ANIMATIONS */
/******************************/

@keyframes test {
  0% {
    transform: translatey(-100rem);
  }

  100% {
    transform: translatey(0px);
  }
}

.fire {
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #ff0000, #ff9b00);
  border-radius: 20%;
  animation: flicker 1s ease-in-out infinite alternate;
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 50px #ff9b00, 0 0 100px #ff9b00, 0 0 150px #ff9b00;
  }
  25% {
    box-shadow: 0 0 25px #ff9b00, 0 0 50px #ff9b00, 0 0 75px #ff9b00;
  }
  50% {
    box-shadow: 0 0 10px #ff9b00, 0 0 20px #ff9b00, 0 0 30px #ff9b00;
  }
  75% {
    box-shadow: 0 0 25px #ff9b00, 0 0 50px #ff9b00, 0 0 75px #ff9b00;
  }
  100% {
    box-shadow: 0 0 50px #ff9b00, 0 0 100px #ff9b00, 0 0 150px #ff9b00;
    height: 200px;
    width: 200px;
  }
}

/* test */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******************************/
/* HELPERS */
/******************************/

.margin-top-s {
  margin-top: 0.5rem;
}

.margin-top-m {
  margin-top: 1.5rem;
}

.margin-top-l {
  margin-top: 1.5rem;
}

.margin-top-xl {
  margin-top: 2.5rem;
}

.right-margin-s {
  margin-right: 1.1rem;
}

.bottom-margin-s {
  margin-bottom: 0.5rem;
}

.bottom-margin-m {
  margin-bottom: 1rem;
}

.bottom-margin-l {
  margin-bottom: 1.5rem;
}

.bottom-margin-xl {
  margin-bottom: 2.5rem;
}

.bottom-margin-xxl {
  margin-bottom: 10rem;
}

.margin-left-s {
  margin-left: 0.5rem;
}

.margin-left-m {
  margin-left: 1rem;
}

.margin-left-l {
  margin-left: 1.5rem;
}

.margin-left-xl {
  margin-left: 2.5rem;
}

.margin-right-left--s {
  margin: 0 0.5rem;
}

.margin-right-left--m {
  margin: 0 1rem;
}

.margin-right-left--l {
  margin: 0 1.5rem;
}
.dispay-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********************************/
/* MEDIA QUERY */
/********************************/

@media (max-width: 1150px) {
  .header-text {
    font-size: 3rem;
  }
}

@media (max-width: 935px) {
  .header-text {
    font-size: 2.6rem;
  }
  .right-margin-s {
    margin-right: 0.1rem;
  }
}

@media (max-width: 780px) {
  .header-text {
    font-size: 2.2rem;
  }
  .btn {
    padding: 1.3rem 1.1rem;
    border-radius: 20%;
  }
  .right-margin-s {
    margin-right: 0.1rem;
  }
}

@media (max-width: 715px) {
  .header-text {
    font-size: 2rem;
  }
  .btn {
    padding: 1.1rem 1rem;
    border-radius: 15%;
    font-size: 1rem;
  }
  .right-margin-s {
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .header-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 555px) {
  .header-text {
    font-size: 1.7rem;
  }
  .btn {
    padding: 1.1rem 1rem;
    border-radius: 15%;
    font-size: 0.9rem;
  }
  .second-player {
    font-size: 1.4rem;
  }
}

@media (max-width: 510px) {
  .header-text {
    font-size: 1.6rem;
  }
  .btn {
    padding: 1rem 0.8rem;
    border-radius: 15%;
    font-size: 0.7rem;
  }
  .second-player {
    font-size: 1.4rem;
  }
}

@media (max-width: 460px) {
  .header-text {
    font-size: 1.5rem;
  }
  .btn {
    padding: 0.8rem 0.6rem;
    border-radius: 15%;
    font-size: 0.6rem;
  }
  .second-player {
    font-size: 1.3rem;
  }
}

@media (max-width: 435px) {
  .header-text {
    font-size: 1.4rem;
  }
  .btn {
    padding: 0.8rem 0.6rem;
    border-radius: 15%;
    /* font-size: 0.9rem; */
  }
  .second-player {
    font-size: 1.2rem;
  }
  .container-underscores {
    font-size: 1.3rem;
  }
}

@media (max-width: 410px) {
  .btn {
    padding: 0.8rem 0.6rem;
    border-radius: 15%;
    /* font-size: 0.9rem; */
  }
  .second-player {
    font-size: 1rem;
  }

  .input-checker {
    width: 3.7rem;
    padding: 1.1rem;
  }
}

@media (max-width: 385px) {
  .header-text {
    font-size: 1.2rem;
  }
  .btn {
    padding: 0.8rem 0.6rem;
    border-radius: 15%;
    /* font-size: 0.9rem; */
  }
  .second-player {
    font-size: 0.8rem;
  }

  .hangman {
    margin: 20px auto 10px;
  }
  .input-checker {
    width: 3.5rem;
    padding: 1rem;
  }
}

@media (max-width: 385px) {
  .header-text {
    font-size: 1.2rem;
  }
  .btn {
    padding: 0.8rem 0.6rem;
    border-radius: 15%;
    /* font-size: 0.9rem; */
  }
  .second-player {
    font-size: 0.6rem;
  }

  /* .hangman {
    margin: 15px auto 5px;
  } */
  .input-checker {
    width: 3.2rem;
    padding: 0.9rem;
  }

  /* .head {
    width: 40px;
    height: 40px;
  } */
}
@media (max-width: 310px) {
  .header-text {
    font-size: 0.9rem;
  }
  .btn {
    padding: 0.4rem 0.2rem;
    border-radius: 15%;
    /* font-size: 0.9rem; */
  }
  .second-player {
    font-size: 0.6rem;
  }

  /* .hangman {
    margin: 15px auto 5px;
  } */
  .input-checker {
    width: 2rem;
    padding: 0.4rem;
  }

  /* .head {
    width: 40px;
    height: 40px;
  } */
}
