* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: auto;
  /* display: grid;
  align-items: center; */
}

.right-margin-s {
  margin-right: 1.1rem;
}

.wrong-letter {
  font-style: bold;
  color: rgb(172, 4, 4);
  font-size: 1.8rem;
}

.show-wrong-letter {
  color: red;
}

/* test */
