@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --btn-color: #2a2a5a;
  --btn-color--hover: #3939e9;
  --wrong-letters-color: rgb(172, 4, 4);
  --answer-letter-color: rgb(224, 24, 24);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Fredoka", sans-serif;
}

body {
  font-size: 1.6rem;
  background: rgb(222, 213, 217);
  background: radial-gradient(circle, rgba(222, 213, 217, 1) 0%, rgba(54, 133, 226, 1) 94%);
}

.container {
  max-width: 50%;
  margin: 10rem auto 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrong-letter {
  font-style: bold;
  color: var(--wrong-letters-color);
  font-size: 1.8rem;
}

.show-wrong-letter {
  color: var(--answer-letter-color);
}

/* .btn {
  border: none;
  padding: 1.2rem 1.2rem;
  border-radius: 40%;
  background-color: var(--btn-color);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn:hover {
  background-color: var(--btn-color--hover);
} */

.input-checker {
  width: 4rem;
  background-color: rgba(40, 207, 82, 0.637);
}

/* test */
/* Helpers */

.margin-top-s {
  margin-top: 0.5rem;
}

.margin-top-m {
  margin-top: 1.5rem;
}

.margin-top-l {
  margin-top: 1.5rem;
}

.margin-top-xl {
  margin-top: 2.5rem;
}

.bottom-margin-s {
  margin-bottom: 0.5rem;
}

.bottom-margin-m {
  margin-bottom: 1rem;
}

.bottom-margin-l {
  margin-bottom: 1.5rem;
}

.bottom-margin-xl {
  margin-bottom: 2.5rem;
}

.bottom-margin-xxl {
  margin-bottom: 10rem;
}

.right-margin-s {
  margin-right: 1.1rem;
}

.dispay-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hangman */

.hangman {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  width: 200px;
  margin: 50px auto;
  position: relative;
}

.gallows {
  width: 200px;
  height: 20px;
  border: 2px solid black;
  padding: 0.2rem;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 30px;
  left: 75px;
}

.body {
  width: 4px;
  height: 70px;
  background-color: black;
  position: absolute;
  top: 80px;
  left: 97px;
}

.left-arm {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 90px;
  left: 60px;
}

.right-arm {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 90px;
  left: 98px;
}

.left-leg {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 145px;
  left: 60px;
}

.right-leg {
  width: 40px;
  height: 4px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 145px;
  left: 98px;
}

.hidden {
  display: none;
}
